.login-btn {
    background-color: rgba(255, 0, 0, 0);
    color: rgb(92, 147, 199);
    border: none;
    justify-content: center;
    text-align: center;
    padding: 10px;
    position: relative;
    
    width: 30%;
    border: 1px solid rgb(92, 147, 199);
    border-radius: 10px;
    background-color: rgb(250, 241, 164);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Comfortaa', cursive;
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    left: 38%;
    top: 7ch;
    width: 60ch;
    height: 100%;
    padding-top: 5%;
    background-color: rgb(255, 253, 247);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 990px) {

    .login-container {
        left: 20%;
    }
}


.login-container h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    top: 0ch;
    position: relative;
    font-family: 'Comfortaa', cursive;
    width: 90%;
    left: 1ch;
    font-size: 50px;
    color: rgb(92, 147, 199);
    padding-top: 0ch;
    padding-bottom: 1ch;
}

.login-btn-ctr {
    text-align: center;



}

.signup-lnk {
    color: rgb(92, 147, 199) !important;
    position: relative;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    top: 0px;
    border: none;
    background-color: #f8f8f800;
    left: 21ch;
}

.label-form {
    color: rgb(92, 147, 199);
    padding: 10px;
    font-family: 'Comfortaa', cursive;
}


.user-login-form {}

.password-input {
    background-color: rgb(255, 255, 254);
    font-family: 'Comfortaa', cursive;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}



.login-email {
    display: flex;
    flex-direction: column;
}

.login-password {
    display: flex;
    flex-direction: column;
}

form {
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    padding-left: 15ch;
    border: none;
    position: relative;
    padding-bottom: 50px;
    border-radius: 10px;

}

.lock-icon {
    position: absolute;
    left: 150px;
    top: 60px;
    color: gray;
    position: absolute;
    left: 150px;
    top: 155px;
    color: gray;
}

.user-icon {
    position: absolute;
    left: 150px;
    top: 60px;
    color: gray;
}

input {
    width: 70%;
    height: 5ch;
    background-color: #f8f8f8;
    border: none;
    padding-left: 45px;


}

.field input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.field input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.field input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.field input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

main {
    width: 100%;
    height: 120ch;
    background-image: url(../Assets/utensils.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.home-bgr{
    width: 100%;
    height: 120ch;
    background-color: rgb(255, 255, 255);
}

.card-header {
    background-color: rgb(255, 253, 247);
    border: none;

}

.card {
    background-color: rgb(255, 253, 247);
    border: none;
    padding-bottom: 4ch;
    padding-top: 4ch;
}

.custom-toggle {
    background-color: rgb(92, 147, 199);
}

.accordion {}

.card-form {}

.label-signup {
    display: flex;
    flex-direction: column;
    color: rgb(92, 147, 199);
    font-family: 'Comfortaa', cursive;
}

.input-signup {
    position: relative;
    text-align: left;
    padding-left: 2ch;
    font-family: 'Comfortaa', cursive;
}

.account-btn {
    background-color: rgb(255, 253, 247);
    color: rgb(92, 147, 199);
    position: relative;
    border: none;
    justify-content: center;
    text-align: center;
    padding: 10px;
    top: 30px;
    left: 20px;
    width: 50%;
    border: 1px solid rgb(92, 147, 199);
    border-radius: 10px;
    background-color: rgb(247, 239, 167);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Comfortaa', cursive;
}

.logout-btn{
    color: rgb(245, 245, 245);
    /* border: 1px solid rgb(255, 255, 255); */
    border: none;
    border-radius: 10px;
    background-color:  #7f8ac7;
    top: 50ch;
    position: relative;
    left: 70ch;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

