.food-input{
    width: 50%;
    border-radius: 10px;
}
.food-submit-btn{
width: 20%;
color:  #7f8ac7;
border: #7f8ac7;
background-color: rgb(250, 248, 165);
border-radius: 10px;
position: relative;
left: 2ch;
}
.food-content{
    width: 100%;
    background-color: #d3d8f5;
}
.food-container{
    width: 100%;
    background-color: #7f8ac7;
    position: relative;
    
}
.food-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 20px;
}
.food-list{
color: black;
font-size: 20px;
position: relative;
text-align: center;
}
.add-food{
    
}